* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    background: orange;
}

body {
    background: red;
    display: grid;
    place-items: center;
    overflow: hidden;
}

div {
    height: 550px;
    aspect-ratio: 1 / 1;
     background: pink;
}

span {
    background: green;
}